.Cookpit {
    text-align: center;
  }
  
  .red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cookpit button {
    background-color: green;
    border: 1px solid #ccc;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
  
  }
  
  .Cookpit button:hover {
      background-color: lightgreen;
      color: black;
  }
  
 .Cookpit button.red {
    background-color: red;
  }
  
  .Cookpit button.red:hover {
      background-color: salmon;
  }